{% extends "polls/base.html" %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}
<div class="container border border-dark">
    <div class="row">
        <div class="col">
            <p class="fs-4 fw-bold border-bottom border-dark">질문 목록</p>
        </div>
    </div>
    <div class="row row-cols-1">
        {% for comment_list in page_obj %}
        <div class="col mb-2 border-bottom border-dark">
            <div>
                <a href="{{ comment_list.get_absolute_url }}">{{ comment_list.comment_title }}</a>
            </div>
        </div>
        {% endfor %}

        <div class="container mt-3">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="True">Previous</a>
                    </li>
                    {% endif %}
                    {% for i in page_obj.paginator.page_range %}
                    {% if page_obj.number == i %}
                    <li class="page-item active" aria-current="page">
              <span class="page-link">
                {{ i }}
                <span class="sr-only">(current)</span>
              </span>
                    </li>
                    {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="True">Next</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
    <div class="row mt-3 border-top border-dark">
        <div class="col"><p class="fs-4 fw-bold">질문을 입력해 주세요</p></div>
    </div>
    <div class="row">
        <div class="col">
            <form method="POST" class="post-form">{% csrf_token %}
                {{ form | crispy }}
                <button type="submit" class="save btn btn-dark">질문하기</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}